In [ ]:
s = ['He is going to market',
     'She is going to my shop and then going to meet friend',
     'Market is near my shop',
     'He is going to meet his  friend and then going to market']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(s)
vectorizer.get_feature_names_out()
print(X.toarray())

[[0 0 1 1 0 1 1 0 0 0 0 0 0 1]
 [1 1 2 0 0 1 0 1 1 0 1 1 1 2]
 [0 0 0 0 0 1 1 0 1 1 0 1 0 0]
 [1 1 2 1 1 1 1 1 0 0 0 0 1 2]]

In [ ]:
import pandas as pd
df = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names_out())
df

,and,friend,going,he,his,is,market,meet,my,near,she,shop,then,to
0,0,0,1,1,0,1,1,0,0,0,0,0,0,1
1,1,1,2,0,0,1,0,1,1,0,1,1,1,2
2,0,0,0,0,0,1,1,0,1,1,0,1,0,0
3,1,1,2,1,1,1,1,1,0,0,0,0,1,2